form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0 50px 20px;
}

.input-wrapper{
    width: 90%;
    position: relative;
}

input {
    width: 100%;
    height: 40px;
    outline: none;
    padding-left: 50px;
    border: none;
    margin-bottom: 50px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
}

form button  {
    position: absolute;
    left: 5%;
    top: 10px;
    color: black;
    border: none;
}

select {
    padding: 5px 35px 0px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
}