.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 15vh;
    color: var(--White);
    background-color: hsl(209, 23%, 22%);
    padding-left: 15px;
    padding-right: 15px;
}

.header button {
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
}