* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Dark-Mode-Elements: hsl(209, 23%, 22%);
  --Dark-Mode-Background: hsl(207, 26%, 17%);
  --Light-Mode-Text:  hsl(200, 15%, 8%);
  --Light-Mode-Input: hsl(0, 0%, 52%);
  --Light-Mode-Background: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

.App {
  font-family: 'Nunito Sans', sans-serif;;
}

.dark-mode {
  color: var(--White);
  background-color: var(--Dark-Mode-Background);
}

.dark-elements {
  background-color: var(--Dark-Mode-Elements);
}

.ligth-mode {
  color: var(--Light-Mode-Text);
  background-color: var(--Light-Mode-Background);
}

.ligth-mode-input {
  color: var(--Light-Mode-Input);
}

.ligth-mode ::placeholder {
  color: var(--Light-Mode-Input);
}

.dark-mode ::placeholder { 
  color: var(--White);
  opacity: 1; 
}
.ligth-elements {
  background-color: var(--White);
}



